.movie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 450px;
    margin-right: 20px;
}

.movie img{
    width: 200px;
    height: 300px;
    box-shadow: rgba(175, 175, 175, 0.2) 0px 7px 29px 0px;
}
.movie p{
    font-size: 1.5rem;
    color: #fff;
}
.movie p span{
    font-size: 0.8rem;
    color: #fff;
}

.ref{
    width: 100%;
}

.details-btn{
    width: 100%;
    padding: 5px;
    text-align: center;
    outline: none;
    border: 1px solid var(--color-mexpink);
    background-color: var(--color-mexpink);
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-family: var(--text-acme);
    border-radius: 5px;
}


.details-btn:hover{
    transition: 500ms;
    background-color: var(--color-jet);
    border: 1px solid var(--color-mexpink);
    color: var(--color-mexpink);
}